li(className!=className)
    div(className='view')
        input(className='toggle' type='checkbox'
            checked!='{this.props.todo.completed}'
            onChange!='{this.props.onToggle}')/
        label(onDoubleClick!='{this.handleEdit}') {this.props.todo.title}
        button(className='destroy'
            onClick!='{this.props.onDestroy}')

    input(className='edit' ref='editField'
        onBlur!='{this.handleSubmit}'
        onChange!='{this.handleChange}'
        onKeyDown!='{this.handleKeyDown}'
        value!='{this.state.editText}')/