template(if='{{!editing}}'
    is='dom-if'
    strip-whitespace='')
    div(on-dblclick='_editAction')
        input.toggle(checked='{{item.completed::change}}'
            type='checkbox')
        label {{item.title}}
        button.destroy(on-tap='_destroyAction')

template(if='{{editing}}'
    is='dom-if'
    strip-whitespace='')
    input#edit.edit(is='td-input'
         on-blur='_onBlur'
         on-td-input-cancel='_cancelAction'
         on-td-input-commit='_commitAction'
         value='{{_editingValue::input}}')/