style.
    :host {
        display: block;
    }

flatiron-director(hidden
    route="{{route}}")
section#todoapp
    header#header
        input#new-todo(autofocus=''
            is="td-input"
            placeholder="What needs to be done?"
            on-td-input-commit="addTodoAction"
            on-td-input-cancel="cancelAddTodoAction")/

    template(if="{{items.length}}"
        is="dom-if")
        section#main
            input#toggle-all(checked="[[allCompleted]]"
                on-change="toggleAllCompletedAction"
                type="checkbox")
            label(for="toggle-all") Mark all as complete
            ul#todo-list(on-td-destroy-item="destroyItemAction")
                template#todo-list-repeater(filter="{{matchesFilter(route)}}"
                    initial-count="10"
                    is="dom-repeat"
                    items="{{items}}"
                    observe="completed"
                    strip-whitespace='')
                    li(item="{{item}}"
                        is="td-item")

        footer#footer
            span#todo-count
                strong {{activeCount}}
                span {{_computeItemsLeft(activeCount)}} left

            iron-selector#filters(attr-for-selected="route"
                selected="{{route}}")
                li(route="")
                    a(class$="{{_computeLinkClass(route, '')}}"
                        href="#/") All

                li(route="active")
                    a(class$="{{_computeLinkClass(route, 'active')}}"
                        href="#/active") Active

                li(route="completed")
                    a(class$="{{_computeLinkClass(route, 'completed')}}"
                        href="#/completed") Completed

            template(if="{{anyCompleted}}"
                is="dom-if"
                strip-whitespace='')
                button#clear-completed(on-tap="clearCompletedAction"
                    style="visibility:visible") Clear completed